.contenedor-galeria {
    width: 90%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    height: 500px; /* Mantén la altura fija para una mejor visualización */
    overflow: hidden;
    margin: 100px auto;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.466);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    display: flex; /* Agrega flexbox para una mejor distribución de los elementos */
    justify-content: center; /* Centra los elementos horizontalmente */
}
h1{
    margin: 60px auto auto auto;
    font-size: 3em;
    text-align: center;
    color: #79e0db;
    
}

/* Ajusta la lista para que sea flexible */
.contenedor-galeria ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margin por defecto */
    display: flex;
    justify-content: space-around; /* Distribuye los elementos con espacios iguales entre ellos */
}

/* Ajusta cada elemento de la lista */
.contenedor-galeria li {
    position: relative;
    width: calc(20% - 0px); 
    margin: 0px; /* Agrega un margen para separar los elementos */
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.671);
    transition: all 0.5s;
}

/* Al hacer hover, ajusta el ancho para que no se corra demasiado */
.contenedor-galeria ul:hover li {
    width: calc(20% - 20px); /* Mantén el ancho similar al original */
    filter: brightness(30%);
}

/* Al hacer hover sobre un elemento específico, ajusta su ancho */
.contenedor-galeria ul li:hover {
    width: calc(40% - 20px); /* Ajusta el ancho para que sea más grande pero no demasiado */
    filter: brightness(100%);
}

/* Ajusta las imágenes dentro del carousel */
.carousel {
    justify-content: center;
    width: 200%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    height: 93%; /* Ajusta la altura para que ocupe todo el espacio disponible */
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(96, 177, 153, 0.582);
}

.carousel-images {
    display: flex;
    width: 100%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    height: 100%; /* Ajusta la altura para que ocupe todo el espacio disponible */
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 50%; /* Ajusta el ancho para que las imágenes se muestren una al lado de la otra */
    height: 100%;
    object-fit: cover;
}

.carousel:hover .carousel-images {
    cursor: pointer;
    animation: slide 7s infinite alternate;
}

@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(-50%); } /* Ajusta la animación para que no se corra demasiado */
}

/* Mantén el estilo del título y botón igual */
.titulo-imagen {
    font-family: 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.822);
    position: absolute;
    top: 100%;
    width: 100%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    display: block;
    transition: all 0.5s ease;
    animation: cambia-color 10s linear infinite;
    background: -webkit-linear-gradient(left, rgba(27, 56, 49, 0.8), rgba(255, 255, 255, 0.8));
    background-size: 400% 400%;
}

.titulo-imagen a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 19px;
    text-shadow: 0 1px 2px #000;
    transition: all 0.5s ease;
}

.contenedor-galeria ul li:hover .titulo-imagen {
    top: 0%;
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
}

.titulo-imagen:hover a {
    transform: scale(1.1);
    transition: all 0.5s ease;
}


.btntabi {
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    background: #0a423f;
    font-size: 20px;
    color: white;
    margin-top: -5px;
    padding: 0px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btntabi:hover {
    background-color: #4ea186;
    color: #000;
}

/* Añade media queries para hacerlo más responsive */
@media (max-width: 1000px) {
    .contenedor-galeria {
        height: 300px;
    }
        .contenedor-galeria li {
            width: 30%; /* Ajusta el ancho para pantallas más pequeñas */
        }   
        .contenedor-galeria ul li:hover {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .contenedor-galeria li {
        width: calc(50% - 20px);
    }
    .contenedor-galeria ul li:hover {
        width: calc(100% - 20px);
    }
}











/* Estilos del Modal */
.modal{
    margin-top: -100px;
    display: none; 
    border-radius: 20px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #302f2f;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos de las Pestañas */
.tab-container {
    width: 100%;
}

.tab-header {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tablinks {
    width: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-pane {
    display: none;
    padding: 0px 20px;
}

.tab-pane.active {
    display: block;
}

/* Estilos de las Imágenes */
.modal-images {
    margin-top: 20px;
    display: flex; /* Usa flexbox para distribuir las imágenes */
    justify-content: space-around;
    width: 280px;
    padding: 20px;
}

/* Ajustar el tamaño de las imágenes */
.modal-images img {
    border-radius: 10px;
    width: 400px;
    height: auto; 
    max-width: 300px; 
    max-height: 200px; 
    margin: 10px 20px; 
    object-fit: cover;
}
/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    .fotos {
        width: calc(30% - 20px); /* Ajusta el ancho para pantallas más pequeñas */
    }
}

/* Para pantallas móviles */
@media (max-width: 480px) {
    .fotos {
        width: calc(50% - 20px); /* Ajusta el ancho para pantallas móviles */
    }
}
/* Estilos del Pie del Modal */
.modal-footer {
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #c6f0d9;
}
.tab-pane{
    background-color: rgb(226, 235, 235);
    text-align: justify;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.btn-close-modal, .btn-reservar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn-reservar {
    background-color: #b7e6f1;
    color: white;
    font-size: 20px;
    float: right;
}

.btn-close-modal:hover {
    background-color: #aaa;
}

.btn-reservar:hover {
    background-color: #a9faec;
}
