body{
    background-image: url('/static/img/dji_fly_20230711_174052_291_1689395541244_photo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}
body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
    z-index: -1; 
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espaciado entre las celdas del grid */
    width: 100%;
    height: 850px;
    padding: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}


.image-box {
    text-align: center;
}

.image-box img {
    width: 250px;
    height: 250px;
    box-shadow: 4px 4px 15px rgba(197, 196, 196, 0.308); 
}

.carousel {
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(112, 218, 186, 0.445); 
}

/* Contenedor de las imágenes */
.carousel-images {
    display: flex;
    width: 150%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

/* Imágenes dentro del carrusel */
.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animación cuando el cursor pasa por encima */
.carousel:hover .carousel-images {
    cursor: pointer;
    animation: slide 20s infinite alternate;
}

/* Definimos la animación */
@keyframes slide {
    0% { transform: translateX(0); }
    50% { transform: translateX(-100%); }
}
h1{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.image-box h2 {
    margin-top: 5px;
    color: white;
}
.section_middle{
    margin-top: 20px;
    color: white;
}
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* En pantallas pequeñas, solo una columna */
        height: auto;
    }
    
    .section {
        flex-direction: column;
    }
}

/* Botón de abrir modal */
.btntabi {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btntabi:hover {
    background-color: #0056b3;
}


/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}


/* Contenido del modal */
.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 10px rgba(128, 231, 183, 0.315);
} 

/* Botón de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

.close:hover {
    color: #000;
}

/* Animación para mostrar el modal */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* Responsive para pantallas pequeñas */
@media (max-width: 600px) {
    .modal-content {
        width: 100%;
        max-width: 300px;
        padding: 15px;
    }

    .btntabi {
        font-size: 14px;
        padding: 8px 16px;
    }
}
