body{
    background-color: #dbf8db;
}

.titulo2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    margin: 30px;
}
.titulo2 {
    animation: wave 2s infinite linear;
    color: rgb(15, 77, 77);
    animation: cambioColor 1.5s infinite alternate;
}

@keyframes cambioColor{
    0% {color: rgb(12, 189, 189); }
    100% {color: rgb(62, 107, 62);}
}


.container {
    margin: 5% ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 30px;
    max-width: 95%;
    height: auto;
}

.box {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    width: 90%;
}

.box img {
    width: 100%;
    border-radius: 8px;
    height: 400px;

}

.box .text {
    font-size:larger;
    padding: 30px;
    width: 100%;
    text-align: left;
    text-align: justify;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        margin: auto;
    }
    .box {
        flex-direction: column;
        text-align: center;
    }
    .box img, .box .text {
        width: 100%;
    }
}

.galeria {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 90px;
    row-gap: 60px;
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin-bottom: 80px;
}

/* Contenedor de cada imagen y texto */
.imagen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
}

/* Imágenes circulares */
.imagen1 {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; /* Hace las imágenes redondas */
    border: 2px solid #333;
}
.imagen1:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* RESPONSIVE DESIGN */
@media (max-width: 800px) {
    .galeria {
        grid-template-columns: 1fr; /* Se convierte en una columna */
    }
}


