h1{
  margin: 20px;
  font-size: 3rem;
  text-align: center;
  color: aliceblue;
}


.fila {
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.fila img {
  margin: 10px;
  border-radius: 20px;
  width: 450px;
  height: 300px;
  object-fit: cover;
}


.fila-central img.central {
  margin: 10px;
  width: 200px;
}

.fila-inferior img.grande {
  width: 150px; 
}


@media (max-width: 768px) {
  .fila {
      flex-direction: column;
      align-items: center;
  }

  .fila img,
  .fila-central img.central,
  .fila-inferior img.grande {
      width: 90%; 
      margin-bottom: 10px;
  }
}

