/* Fondo con degradado suave */
.body {
    background-color: rgb(219, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario con bordes curvos */
.container1 {
    width: 40%;
    background-image: url('/static/img/sug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px; /* Bordes redondeados */
    position: relative;
    text-align: center;
    overflow: hidden;
}

/* Título */
h2 {
    font-size: 2em;
    color: #c2f7f0;
    margin-bottom: 20px;
}

/* Ajuste de etiquetas */
label {
    color: white;
    font-size: 1.3em;
    margin-top: 10px;
    display: block;
    text-align: left;
    width: 100%;
}

/* Inputs y textarea */
input, select, textarea {
    background-color: rgba(240, 248, 255, 0.74);
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botón estilizado */
.boton1 {
    background: #1f6d59;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 25px;
    transition: 0.3s ease;
}

.boton1:hover {
    background: #53a396e7;
}

/* Mensajes */
.message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
