{% extends 'base.html' %}
{% load static %}
{% block title %}Cabañas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/caba_bourbon.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabaña Tabi</title>


    <div class="titulo2">
        <h1>Bienvenidos a la cabaña Wush Wush</h1>
    </div>
    <div class="container">
        <div class="box">
            <img src="{% static 'img/wush1.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <div class="text">
                <h2></h2>
                * Entre lunes y jueves, la tarifa es de $320.000 (por pareja)
                <br>
                <br>
                * Los días viernes, sábado, domingo y festivos, la tarifa es de $380.000 (por pareja)
                <br>
                <br>
                * Al llegar, te recibiremos con dos cafés de bienvenida y una botella de vino de cortesía. Disfruta de dos desayunos incluidos y relájate en nuestra acogedora zona de descanso. 
                <br>
                <br>
                * Tendrás acceso a una fogata para momentos inolvidables, WiFi durante toda tu estancia, y podrás disfrutar de un jacuzzi con baño de espuma.
                <br>
               </div>
        </div>
        <div class="box">
            <div class="text">
                <h2>Tu reserva incluye:</h2>
                <br>
                * 1 Botella de vino
                <br>
                * 2 Cafés de bienvenida
                <br>
                * 2 Desayunos
                <br>
                * Malla catamarán
                <br>
                * Ducha y jacuzzi (para parejas)
                <br>
                * Wi-Fi
                <br>
                * Fogata y malvaviscos
                <br>
                * Souvenir
                <br>
                * Café al gusto
                <br>
                * Parqueadero privado
                <br>
                * Parlante bluetooth
                <br>
                * Jabón artesanal</div>
        </div>
        <div class="box">
            <img src="{% static 'img/wush3.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <img src="{% static 'img/wush2.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <div class="text">
                <h2>Nuestra cabaña esta equipada con:</h2>
                <br>
                <br>
                * Cama doble de 1.40 m
                <br>
                <br>
                * Nevera
                <br>
                <br>
                * Cafetera
                <br>
                <br>
                * Zona de fogata
                <br>
                <br>
                * Malla catamarán
                <br>
                <br>
                * Jacuzzi
                <br>
                <br>
                * Sofácama»</div>
        </div>
    </div>

    <div class="galeria">
        <div class="imagen-container">
            <img src="{% static 'img/wush4.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/wush5.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/wush6.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/wush2.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/geisha7.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/wush1.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
    </div>



{% endblock %}