{% extends 'base.html' %}
{% load static %}
{% block title %}Cabañas{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/caba_bourbon.css' %}">

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabaña Tabi</title>


    <div class="titulo2">
        <h1>Bienvenidos a la cabaña Cafetal</h1>
    </div>
    <div class="container">
        <div class="box">
            <img src="{% static 'img/cacafetal.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <div class="text">
                <h2></h2>
                * Entre lunes y jueves, la tarifa es de $250.000 (por pareja)
                <br>
                <br>
                * Los días viernes, sábado, domingo y festivos, la tarifa es de $300.000 (por pareja)
                <br>
                <br>
                * Al llegar, te recibiremos con dos cafés de bienvenida y una botella de vino de cortesía. Disfruta de dos desayunos incluidos y relájate en nuestra acogedora zona de descanso.
                <br>
                <br>
                * Tendrás acceso a una fogata para momentos inolvidables, WiFi durante toda tu estancia, y un ambiente perfecto para disfrutar en pareja o en familia. 
                <br>
                <br>
                * Esta cabaña familiar cuenta con capacidad ideal para parejas o pequeñas familias, brindando un espacio cálido y confortable.
               </div>
        </div>
        <div class="box">
            <div class="text">
                <h2>Tu reserva incluye:</h2>
                <br>
                * 1 Botella de vino
                <br>
                * 2 Cafés de bienvenida
                <br>
                * 2 Desayunos
                <br>
                * Malla catamarán
                <br>
                * Wi-Fi
                <br>
                * Fogata y malvaviscos
                <br>
                * Souvenir
                <br>
                * Café al gusto
                <br>
                * Parqueadero privado
                <br>
                * Parlante bluetooth
                <br>
                * Jabón artesanal</div>
        </div>
        <div class="box">
            <img src="{% static 'img/cafetal6.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <img src="{% static 'img/cafetal1.jpg' %}" alt="Imagen 2" class="imagen">
        </div>
        <div class="box">
            <div class="text">
                <h2>Nuestra cabaña esta equipada con:</h2>
                <br>
                * 1 cama de 2x2 m y 1 cama de 1.40 m
                <br>
                * Nevera
                <br>
                * Cafetera
                <br>
                * Zona de fogata
                <br>
                * Malla catamarán
                <br>
                * Sofácama»</div>
        </div>
    </div>

    <div class="galeria">
        <div class="imagen-container">
            <img src="{% static 'img/cafetal1.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/cafetal2.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/cafetal3.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/cafetal4.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/cafetal5.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
        <div class="imagen-container">
            <img src="{% static 'img/cafetal6.jpg' %}" alt="Imagen 2" class="imagen1">
        </div>
    </div>


{% endblock %}