{% extends 'base.html' %}
{% load static %}
{% block title %}Cabañas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/cabaña.css' %}">

<div class="container">
    <div class="section">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/static/img/cabour.jpg" alt="Imagen 1">
                <img src="/static/img/cageishaa.jpg" alt="Imagen 2">
            </div>
        </div>
        <h2>Cabaña Tabi</h2>
        <button id="openModalBtn" class="btntabi">Conoce la cabaña</button>
        <br><br><br>

        <div class="carousel">
            <div class="carousel-images">
                <img src="/static/img/cabour.jpg" alt="Imagen 1">
                <img src="/static/img/cageishaa.jpg" alt="Imagen 2">
            </div>
        </div>
        <h2>Cabaña Bourbon</h2>
        <button id="openModalBtn" class="btntabi">Conoce la cabaña</button>
    </div>

    <div class="section_middle">
        <h1>Explora un rincón mágico y encantador</h1>
        <h1>La Kumbre del Huila</h1>
        <h1>Conoce nuestras Cabañas</h1>
        <br><br><br>

        <div class="carousel">
            <div class="carousel-images">
                <img src="/static/img/cabour.jpg" alt="Imagen 1">
                <img src="/static/img/cageishaa.jpg" alt="Imagen 2">
            </div>
        </div>
        <h2>Cabaña Cafetal</h2>
        <button id="openModalBtn" class="btntabi">Conoce la cabaña</button>
    </div>

    <div class="section">
        <div class="carousel">
            <div class="carousel-images">
                <img src="/static/img/cabour.jpg" alt="Imagen 1">
                <img src="/static/img/cageishaa.jpg" alt="Imagen 2">
            </div>
        </div>
        <h2>Cabaña Geisha</h2>
        <button id="openModalBtn" class="btntabi">Conoce la cabaña</button>
        <br><br><br>
|

        <div class="carousel">
            <div class="carousel-images">
                <img src="/static/img/cabour.jpg" alt="Imagen 1">
                <img src="/static/img/cageishaa.jpg" alt="Imagen 2">
            </div>
        </div>
        <h2>Cabaña Wush</h2>
        <button id="openModalBtn" class="btntabi">Conoce la cabaña</button>
    </div>
</div>

<div id="infoModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Información Importante</h2>
        <p>Este es un cuadro de información que aparece cuando presionas el botón.</p>
        <button>reservar</button>
    </div>
</div>

<script src="{% static 'js/cabaña.js' %}"></script>



{% endblock %}