{% extends 'base.html' %}
{% load static %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/cambiar_contraseña.css' %}">

<div class="container">
    <div class="form-box login">
        <form method="POST">
            {% csrf_token %}
            <h1>Cambiar Contraseña</h1>
            <div class="input-box">
                <label for="id_old_password">Contraseña actual</label>
                <input type="password" name="old_password" id="id_old_password" class="form-control" required>
                {% if form.old_password.errors %}
                    <div class="error text-danger">
                        {{ form.old_password.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="input-box">
                <label for="id_new_password1">Nueva Contraseña</label>
                <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                {% if form.new_password1.errors %}
                    <div class="error text-danger">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="input-box">
                <label for="id_new_password2">Confirmar Nueva Contraseña</label>
                <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                {% if form.new_password2.errors %}
                    <div class="error text-danger">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="boton1">Actualizar Contraseña</button>
        <a href="{% url 'perfil' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <img class="logotipo" src="{% static 'img/logotipo.png' %}" alt="Descripción de la imagen">
        </div>
    </div>



<script src="{% static 'js/perfil.js' %}"></script>
{% endblock %}
