{% extends 'base.html' %}
{% load static %}
{% block title %}gastronomia{% endblock %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% block content %}
<link rel="stylesheet" href="{% static 'styles/restablecer.css' %}">

<div class="container">
    <div class="form-box login">
        <form method="POST">
            {% csrf_token %}
            <h1>Introduce tu nueva contraseña</h1>
            <p>Recuerda que debe tener minimo 6 caracteres.</p>
            <div class="input-box">
                <input type="password" placeholder="Nueva contraseña" id="password" name="password" required>
                <i class='bx bxs-lock-alt' ></i>
            </div>
            
            <br>
            <button type="submit" class="boton1">Guardar</button>
        </form>
    </div> 
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <img class="logotipo" src="{% static 'img/logotipo.png' %}" alt="Descripción de la imagen">
            
        </div>
    </div>
{% endblock %} 