{% extends 'base.html' %}
{% load static %}
{% block title %}Cabañas{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/perfil.css' %}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

<div class="container">
    <div class="form-box login">
        <form method="POST">
            {% csrf_token %}
            <h1>Eliminar Cuenta</h1>
            <p>Estas seguro que deseas eliminar esta cuenta?</p>
            <br>
            <form method="post" class="boton1">
                {% csrf_token %}
                <button type="submit" class="boton1">Eliminar Cuenta</button>
                <br><br>
                <a href="{% url 'perfil' %}" class="boton1">
                    Cancelar
                </a>
            </form>
        </form>
        
    </div> 
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <img class="logotipo" src="{% static 'img/logotipo.png' %}" alt="Descripción de la imagen">
            </div>
        </div>
</div>

{% endblock %}