{% extends 'base.html' %}
{% load static %}
{% block title %}CGaleria{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/galeria.css' %}">

<!-- <div class="wrapper">
  
    <a href="#" style="--grid-area:cat-sport">
      <img src="{% static 'img/galeria2.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-tees">
      <img src="{% static 'img/galeria7.jpg' %}" alt="Imagen " class="imagen">
      </a>
    
    <a href="#" style="--grid-area:cat-hoodies">
      <img src="{% static 'img/fon2.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-ladies-shirt">
      <img src="{% static 'img/111.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-youth">
      <img src="{% static 'img/salatabi.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-kids">
      <img src="{% static 'img/fot5.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-cologne">
      <img src="{% static 'img/fonan.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-mens-shirts">
      <img src="{% static 'img/carro.png' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:cat-intimate">
      <img src="{% static 'img/ca1.png' %}" alt="Imagen " class="imagen">
    </a>
    
    <a href="#" style="--grid-area:banner" class="banner">
      <img src="{% static 'img/any1.jpg' %}" alt="Imagen " class="imagen">
    </a>
    
  </div>
   -->


<!-- 
<div class="todo">
    <div class="titulo1">
        <svg width="500" height="150">
        <defs>
            <path id="curve" d="M 50,120 A 220,75 0 0,1 450,120" fill="transparent"/>
        </defs>
        <text font-size="35" font-weight="bold" fill="black">
            <textPath href="#curve" startOffset="50%" text-anchor="middle">
                Conoce Nuestras Maravillas
            </textPath>
        </text>
        </svg>
    </div>
    <br><br><br>
    <div class="galeria">
            <div class="imagen-container">
                <img src="{% static 'img/ca1.png' %}" alt="Imagen " class="imagen">
                <div class="curva-texto">Spots</div>
            </div>
            <div class="imagen-container">
                <img src="{% static 'img/cabañasgaleria123.jpg' %}" alt="Imagen " class="imagen">
                <div class="curva-texto">Cabañas</div>
            </div>
            <div class="imagen-container">
                <img src="{% static 'img/carro.png' %}" alt="Imagen " class="imagen">
                <div class="curva-texto">Carro</div>
            </div>
            <div class="imagen-container">
                <img src="{% static 'img/comida.jpg' %}" alt="Imagen " class="imagen">
                <div class="curva-texto">Comida</div>
            </div>
            <div class="imagen-container">
                <img src="{% static 'img/fototabi4.jpg' %}" alt="Imagen 2" class="imagen">
                <div class="curva-texto">Mayas</div>
            </div>
            <div class="imagen-container">
                <img src="{% static 'img/fogata.png' %}" alt="Imagen 2" class="imagen">
                <div class="curva-texto">Fogata</div>
            </div>
        </div>
    </div>
</div>
<div class="todo1">
    <div class="fotoscuatro">
        <img src="{% static 'img/galeria1.jpg' %}" alt="Imagen 2" class="imagen2">
        <img src="{% static 'img/wush1111.jpg' %}" alt="Imagen 2" class="imagen2">
        <img src="{% static 'img/cacafetal.jpg' %}" alt="Imagen 2" class="imagen2">
        <img src="{% static 'img/galeria7.jpg' %}" alt="Imagen 2" class="imagen2">
    </div>
    <div class="grid-container">
        <img src="{% static 'img/geisha1.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/cabour.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/mayas.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/wush4.jpg' %}" alt="Imagen 2" class="grid-item">
        <div class="grid-item text-center">"Naturaleza y aventura en un solo lugar."</div>
        <img src="{% static 'img/111.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/444.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/bourbon111.jpg' %}" alt="Imagen 2" class="grid-item">
        <img src="{% static 'img/fot5.jpg' %}" alt="Imagen 2" class="grid-item">
    </div>
</div> -->


<h1>Galería de Imágenes</h1>
    <div class="gallery">
        <!-- 20 imágenes -->
        <img src="images/img1.jpg" alt="Imagen 1" class="gallery-item">
        <img src="images/img2.jpg" alt="Imagen 2" class="gallery-item">
        <img src="images/img3.jpg" alt="Imagen 3" class="gallery-item">
        <img src="images/img4.jpg" alt="Imagen 4" class="gallery-item">
        <img src="images/img5.jpg" alt="Imagen 5" class="gallery-item">
        <img src="images/img6.jpg" alt="Imagen 6" class="gallery-item">
        <img src="images/img7.jpg" alt="Imagen 7" class="gallery-item">
        <img src="images/img8.jpg" alt="Imagen 8" class="gallery-item">
        <img src="images/img9.jpg" alt="Imagen 9" class="gallery-item">
        <img src="images/img10.jpg" alt="Imagen 10" class="gallery-item">
        <img src="images/img11.jpg" alt="Imagen 11" class="gallery-item">
        <img src="images/img12.jpg" alt="Imagen 12" class="gallery-item">
        <img src="images/img13.jpg" alt="Imagen 13" class="gallery-item">
        <img src="images/img14.jpg" alt="Imagen 14" class="gallery-item">
        <img src="images/img15.jpg" alt="Imagen 15" class="gallery-item">
        <img src="images/img16.jpg" alt="Imagen 16" class="gallery-item">
        <img src="images/img17.jpg" alt="Imagen 17" class="gallery-item">
        <img src="images/img18.jpg" alt="Imagen 18" class="gallery-item">
        <img src="images/img19.jpg" alt="Imagen 19" class="gallery-item">
        <img src="images/img20.jpg" alt="Imagen 20" class="gallery-item">
    </div>

    <!-- Modal para ampliar imagen -->
    <div class="modal" id="modal">
        <span class="close" id="close">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>

{% endblock %}