{% extends 'base.html' %}
{% load static %}
{% block title %}Manual de Usuario{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/manual.css' %}">

    <div class="manual">
        <h1 class="hotel-name">La Kumbre Eco Hotel</h1>
        <p class="manual-description">
        Bienvenido al manual interactivo de La Kumbre Eco Hotel, su destino perfecto para conectar con la naturaleza.
        Esta guía le ayudará a navegar por nuestra plataforma de manera sencilla e intuitiva para disfrutar de todos nuestros servicios.
      </p>
      <div class="seccion">
        <div class="titulo2">Introducción ▼</div>
        <div class="contenido">
            <h3>La Kumbre Eco Hotel</h3>
            <p>  Ubicado en el corazón de la naturaleza, nuestro eco hotel ofrece una experiencia única combinando confort y sostenibilidad,
                 con cabañas ecológicas diseñadas para minimizar el impacto ambiental mientras maximiza su conexión con el entorno natural.</p>
                 <img src="{% static 'img/log1.png' %}" alt="Descripción de la imagen" class="img3">
            
            <h3>Proposito del manual</h3>
            <p> Esta guía interactiva le ayudará a navegar por nuestra plataforma digital, facilitando la reserva de cabañas, compra de productos 
                y el envío de sugerencias para mejorar su experiencia con nosotros.
            </p>
            <img src="{% static 'img/proposito.png' %}" alt="Descripción de la imagen" class="img3">
        </div>
    </div>
        <div class="seccion">
            <div class="titulo2">Acceso a la Plataforma ▼</div>
            <div class="contenido">
                <h3>Registro de Usuarios</h3>
                <p>Para registrarte, debes ingresar tu correo electrónico, usuario y una contraseña válida.</p>
                <img src="{% static 'img/registro.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Inicio de Sesión</h3>
                <p>Ingresa con tus credenciales previamente registradas.</p>
                <img src="{% static 'img/iniciarsesion.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Recuperación de Contraseña</h3>
                <p>Si olvidaste tu contraseña, puedes restablecerla mediante un correo de recuperación.</p>
                <img src="{% static 'img/recuperar.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>

        <div class="seccion">
            <div class="titulo2">Gestión del Perfil de Usuario ▼</div>
            <div class="contenido">
                <h3>Visualización de perfil</h3>
                <p>Desde aqui puedes ver tu informacion personal.</p>
                <img src="{% static 'img/perfil.png' %}" alt="Descripción de la imagen" class="img3"> 
                
                <h3>Cambio de Contraseña</h3>
                <p>Si deseas actualizar tu contraseña,pedes hacerlo aqui.</p>
                <img src="{% static 'img/cambiocontrasena.png' %}" alt="Descripción de la imagen" class="img3">  
                
                <h3>Eliminación de Cuenta</h3>
                <p>Si decides darte de baja, puedes eliminar tu cuenta de manera permanente.</p>
                <img src="{% static 'img/eliminarcuenta.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>

        <div class="seccion">
            <div class="titulo2">Sistema de Reservas ▼</div>
            <div class="contenido">
                <h3>Visualización de Cabañas</h3>
                <p>Puedes ver todas las cabañas disponibles y sus características.</p>
                <img src="{% static 'img/visualizarcabanas.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>LLenar Formulario</h3>
                <p>Selecciona las fechas en el calendario interactivo.</p>
                <img src="{% static 'img/llenarformulario.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Añadir al Carrito</h3>
                <p>Una vez seleccionada la fecha, añade la reserva al carrito.</p>
                <img src="{% static 'img/anadiralcarrito.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>

        <div class="seccion">
            <div class="titulo2">Carrito de Compras ▼</div>
            <div class="contenido">
                <h3>ver Reservas y Productos</h3>
                <p>Puedes agregar reservas y productos de la galería al carrito.</p>
                <img src="{% static 'img/verpedido.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Eliminar Elementos</h3>
                <p>Si deseas, puedes eliminar productos o reservas antes de comprar.</p>
                <img src="{% static 'img/eliminar.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>

        <div class="seccion">
            <div class="titulo2">Finalización de la Compra ▼</div>
            <div class="contenido">
                <h3>Resumen de Compra</h3>
                <p>Antes de confirmar, revisa el detalle de tu compra.</p>
                <img src="{% static 'img/resumencompra.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Llenar datos personales</h3>
                <p>Llena los ultimos datos para finalizar la compra</p>
                <img src="{% static 'img/llenardatos.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Métodos de Pago</h3>
                <p>Selecciona el método de pago disponible y finaliza la compra.</p>
                <img src="{% static 'img/metododepago.png' %}" alt="Descripción de la imagen" class="img3">
                
                <h3>Confirmación</h3>
                <p>Aqui se confirma que tu compra fue realizada</p>
                <img src="{% static 'img/confirmacioncompra.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>

        <div class="seccion">
            <div class="titulo2">Buzón de Sugerencias ▼</div>
            <div class="contenido">
                <h3>Enviar Sugerencia</h3>
                <p>Puedes enviar tus sugerencias sobre el servicio, instalaciones o comida.</p>
                <img src="{% static 'img/enviarsugerencia.png' %}" alt="Descripción de la imagen" class="img3">
                
                
                <h3>Confirmación</h3>
                <p>Una vez enviada, recibirás una notificación de confirmación.</p>
                <img src="{% static 'img/sugerenciaenviada.png' %}" alt="Descripción de la imagen" class="img3">
            </div>
        </div>
    </div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
    let titulos = document.querySelectorAll(".titulo2");

    titulos.forEach((titulo2) => {
        titulo2.addEventListener("click", function() {
            let contenido = this.nextElementSibling;
            let activo = document.querySelector(".contenido[style='display: block;']");

            if (activo && activo !== contenido) {
                activo.style.display = "none";
            }

            contenido.style.display = contenido.style.display === "block" ? "none" : "block";
        });
    });
});

</script>

{% endblock %}