<!-- {% extends 'base.html' %} -->
{% load static %}
{% block title %}gastronomia{% endblock %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% block content %}
<link rel="stylesheet" href="{% static 'styles/restablecer.css' %}">

<div class="container">
    <div class="form-box login">
        <form method="POST" action="{% url 'restablecer' %}">
            {% csrf_token %}
            <h1>Contraseña Cambiada</h1>
            <br><br><br>
            <h3>¡Felicidades!</h3>
            <p>Tu contraseña ha sido cambiada exitosamente.</p>
        
            <a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a>
        </form>
    </div> 
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <img class="logotipo" src="{% static 'img/logotipo.png' %}" alt="Descripción de la imagen">
            
        </div>
    </div> 
{% endblock %}