{% extends 'base.html' %}
{% load static %}
{% block title %}Buzon{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/sugerencias.css' %}">




<div class="container">
<div class="form-box login">
    <form method="POST" action="{% url 'sugerencias' %}">
        {% csrf_token %}
        <h1>Sugerencias</h1>
        <div class="input-box">
            <input type="text" placeholder="Usuario" id="nombre" name="username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="email" placeholder="Correo" id="correo" name="correo" required>
            <i class='bx bxs-envelope' ></i>
        </div>
        <select id="categoria" placeholder="Categoría" class="categoria" name="categoria" required>
            <option value="">Categoria</option>
            <option value="Servicio">Servicio</option>
            <option value="Instalaciones">Instalaciones</option>
            <option value="Comida">Comida</option>
        </select>
        <textarea id="sugerencia" placeholder="Sugerencia" class="categoria" name="sugerencia" rows="4" required></textarea>

        <button class="boton1" type="submit">Enviar Sugerencia</button>
    </form>
</div> 
<div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <img class="logotipo" src="{% static 'img/logotipo.png' %}" alt="Descripción de la imagen">
        </div>
</div>


{% endblock %}