{% extends 'base.html' %}
{% load static %}
{% block title %}Buzon{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/sugerencias.css' %}">

{% if errores %}
<div class="error-box">
    <ul>
        {% for error in errores %}
            <li class="error-message">{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<div class="container">
<div class="form-box login">
    <form method="POST" action="{% url 'sugerencias' %}">
        {% csrf_token %}
        <h1>Sugerencias</h1>
        <div class="input-box">
            <input type="text" placeholder="Usuario" id="nombre" name="username" required>
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            <input type="email" placeholder="Correo" id="correo" name="correo" required>
            <i class='bx bxs-envelope' ></i>
        </div>
        <select id="categoria" placeholder="Categoría" class="categoria" name="categoria" required>
            <option value="Servicio">   </option>
            <option value="Servicio">Servicio</option>
            <option value="Instalaciones">Instalaciones</option>
            <option value="Comida">Comida</option>
        </select>
        <textarea id="sugerencia" placeholder="Sugerencia" class="categoria" name="sugerencia" rows="4" required></textarea>

        <button class="boton1" type="submit">Enviar Sugerencia</button>
    </form>
</div>
<div class="toggle-box">
    <div class="toggle-panel toggle-left">
        <h2>Bienvenido a</h2> <br>
        <h2>La Kumbre</h2> <br>
    </div>
</div>


    <!-- <div class="container1">
    <h2>Buzón de Sugerencias</h2>


    <form method="post">
        {% csrf_token %}

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" name="correo" required>

        <label for="categoria">Categoría:</label>
        <select id="categoria" name="categoria" required>
            <option value="Servicio">   </option>
            <option value="Servicio">Servicio</option>
            <option value="Instalaciones">Instalaciones</option>
            <option value="Comida">Comida</option>
        </select>

        <label for="sugerencia">Sugerencia:</label>
        <textarea id="sugerencia" name="sugerencia" rows="4" required></textarea>

        <button class="boton1" type="submit">Enviar Sugerencia</button>
    </form>
</div> -->



<script src="/static/js/sugerencias.js"></script>



{% endblock %}